*{
    margin:0;
    padding:0;
    /* outline: 1px solid yellow; */
}
body{
    overflow:hidden;
    background-color: steelblue;
}

.top-bar{
    width:100%;
    background: #002244;
    color:#fff;
    padding: 1rem;
    
}
.top-bar div{
    max-width: 85%;
    width: 750px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn{
    /* background: coral; */
    background:#003153;
    color: #fff;
    border:1px solid white;
    outline: none;
    cursor:pointer;
    padding: 0.7rem 2rem;
    border-radius: 20px;
}

.btn:hover{
    opacity: 0.9;
}

.page-info{
    margin-left:1em;
}

.error{
    background: orangered;
    color:#fff;
    padding: 1em;
}
.goToPageInput{
    border-radius: 1.2em;
    border: none;
    height: 20px;
    padding: 1.2em;
    width: 135px;
    outline:none;
}



#pdf-render{
    border:2px solid black;
    margin:auto;
    display:block;
    margin-top: 30px;
    max-width: 85%;
    max-height: 80%;
}
.inputPdf {
    display:none;
}